.edit-profile-page{
    margin: 20px 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: #414141;
    figure{
        margin-bottom: 16px;
        margin-top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        >img{
            object-fit: cover;
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
        .camera{
            position: relative;
            border: 0;
            background: none;
            img{
                position: absolute;
                left: 15px;
                bottom: 3px;
            }
            .d-none{
                display: none;
            }
        }
    }
    .edit-item{
        padding: 5px 16px;
        background: #F2F2F2;
        border-radius: 10px;
        display: flex;
        align-items: center;
        color: #414141;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        .MuiInputBase-root {
            font-size: 14px;
            &::before{
                border: none;
            }
            &::after{
                border: none;
            }
        }
        &.border-red{
            border-bottom: 1px solid red;
        }
        &:not(.border-red){
            margin-bottom: 16px;
        }
    }
    .text-red{
        color: red;
        margin-bottom: 16px;
    }
    .save{
        display: flex;
        bottom: 0;
        position: fixed;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin: auto;
        right: 16px;
        left: 16px;
        padding: 14px 0;
        border: 0;
        background: #FFE031;
        border-radius: 10px;
        justify-content: center;
        margin-bottom: 40px;
    }
}
