.header-back{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    padding-bottom: 27px;
    margin: 0;
    p{
        text-align: center;
        width: 100%;
    }
}